galleryImagesHeight = 200px
galleryImagesWidth = 200px
defaultImageHeight = 400px
defaultImageWidth = 500px
defaultImage-positionTop = 220px
defaultImage-positionLeft = 250px

nav img
	height galleryImagesHeight
	width galleryImagesWidth

#hoveredImage img
	position absolute
	top defaultImage-positionTop
	left defaultImage-positionLeft
	height defaultImageHeight
	width defaultImageWidth